@import "../../../../../styles/moduleTemplate/index";

.main{

}
.simpleTable{
  width: 50%;
  height: 500px;
  background-color: #62bdff;
}
@include mobile{
  .main{
    padding-left: 0;
    padding-right: 0;
  }
  .sectionFirst{
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@include tablet{
  .sectionFirst{
    display: flex;
  }
}
@include laptop{
  .sectionFirst{
    display: flex;
  }
}
@include desktop{
  .sectionFirst{
    display: flex;
  }
}