@import './index';

.modal{
  display: flex;
  justify-content: center;
  vertical-align: center;
  &-box{
    padding: 40px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #E8E8E8;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #585858;
    }
    &__content{
      width: 864px;
      padding: 24px;
    }
  }
}

.component-headline{
  @include font-size(headline1)
}
.section-headline{
  @include font-size(headline2)
}