@import "index";

.authentication-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__name,&__birth{
        width: 70%;
        margin: 5px;
    }
}