@import "index";

.authentication-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__name,&__birth{
        width: 70%;
        margin-bottom: 0.5rem;
        margin-top:0.5rem;
    }
}