@import "index";

// root
.filter-root{
  z-index: 50;
  width: 100%;
  margin-bottom: 16px;
  gap: 12px;
  &__field{ // searchbar, selectbox1...,2 stack
    gap: 12px;
    & > :first-child{
      flex-grow: 1;
    }
  }
  &__button{
    margin-left: auto;
    text-wrap: nowrap;
    &__date{
      text-wrap: nowrap;
    }
    &__clear{
      &:hover{
      }
    }
    &__search{
      &:hover{
      }
    }
  }
}

// dateRange Wrapper 영역
.date-range-box{
  display: flex;
  &__calender{
  }
}

// dateRage 영역
.date-range{
  z-index: 50;
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  &__picker{
  }
}
// TODO : 관리자 검색 버튼 스타일 수정
// submitButton area
.submit{
  padding-top: 12px;
  flex-direction: column;
  gap: 8px;
  &__button{ // 버튼
    &-clear{ // 취소
      &:hover{
      }
    }
    &-search{ // 검색
      &:active{

      }
      &:hover{

      }
    }
  }
}

// 300px ~
@include media-breakpoint-up(xxs) {
  .filter-root{
    &__field{ // searchbar, selectbox1...,2 stack

    }
    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        margin-left: 0;
        &:hover{
        }
      }
    }
  }
  // dateRange Wrapper 영역
  .date-range-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .date-range{
    &__picker{
      width: fit-content;
    }
  }
  // submitButton area
  .submit{
    &__button{ // 버튼
      &-clear{ // 취소
        &:hover{
        }
      }
      &-search{ // 검색
        &:active{

        }
        &:hover{

        }
      }
    }
  }
}


// 360px ~
@include media-breakpoint-up(xs) {
  .filter-root{
    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        margin-left: 0;
        &:hover{
        }
      }
    }
  }
  // submitButton area
  .submit{
    &__button{ // 버튼
      &-clear{ // 취소
        &:hover{
        }
      }
      &-search{ // 검색
        &:active{

        }
        &:hover{

        }
      }
    }
  }
}

// 480px ~
@include media-breakpoint-up(sm) {
  .filter-root{

    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        &:hover{
        }
      }
    }
  }
}

// 768px ~
@include media-breakpoint-up(md) {
  .filter-root{

    &__field{ // searchbar, selectbox1...,2 stack
      flex-direction: row;
      & > :first-child{
        flex-grow: inherit;
      }
      &__form{

      }
    }
    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        &:hover{
        }
      }
    }
  }
  // dateRange Wrapper 영역
  .date-range-box{
    flex-direction: row;
    &__picker{

    }
    &__calender{
    }
  }
  .submit{
    flex-direction: row;
  }

}
// 980px
@include media-breakpoint-up(lg){
  .filter-root{
    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        &:hover{
        }
      }
    }
  }
}
// 1080px
@include media-breakpoint-up(xl){
  .filter-root{
    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        &:hover{
        }
      }
    }
  }
}
// 1400px
@include media-breakpoint-up(xxl){
  .filter-root{
    &__button{
      &__date{
      }
      &__clear{
        &:hover{
        }
      }
      &__search{
        &:hover{
        }
      }
    }
  }
}