@import '../template/mixin';

$icon-size-max: 20px;
$headerIcons-max: 104px;

@include desktop {
  .header-box {
    height: 65px;
    width: 100%;
    background-color: #80A1D4;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    & ul li {
      list-style: none;
    }
  }
  .headerNav {
    width: 790px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
      font-size: 24px;
    }

    .headerIcons {
      margin-left: 20px;
    }

    .headerLoginButton {
      min-width: 10px;
      width: 80px;
      height: 30px;
    }
  }
  .depth-1 {
    white-space: nowrap;
    position: absolute;

    & > li {
      display: flex;
      //justify-content: center;
      padding-left: 5px;
    }

    & > li:hover {
      background-color: #61dafb;
    }
  }
}

@include tablet {
  .header-box {
    height: 65px;
    width: 100%;
    background-color: #80A1D4;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    & ul li {
      list-style: none;
    }
  }
  .headerNav {
    width: 758px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
      font-size: 18px;
    }

    .categoryNav {
      width: 385px;

      & > li {
        & > button > p {
          font-size: 16px;
        }
      }

      .icon-nav-btn {
        min-width: 10px;
        padding: 0 10px 0 10px;
      }

      .icon-nav-btn:first-child {
        padding-left: 0;
      }

    }

    .headerLoginButton {
      width: 80px;
      height: 30px;

      p {
        font-size: 14px;
      }
    }
  }
  .depth-1 {
    white-space: nowrap;
    position: absolute;

    & > li {
      display: flex;
      //justify-content: center;
      padding-left: 5px;
    }

    & > li:hover {
      background-color: #61dafb;
    }
  }
}

@include mobile {
  .header-box{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    &:after{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 60px;
      background-color: #80A1D4;
      z-index: 9;
    }
  }
  .headerNav {
    display: block;
    height: 60px;
    background-color: #80A1D4;
    .btn-logo {
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      left: 30px;
      width: 100%;
      height: 60px;
      background-color: #80A1D4;
      p {
        font-size: 24px;
      }
    }

    .headerLoginButton {
      z-index: 10;
      position: absolute;
      right: 30px;
      top: calc(30px / 2);
      width: 100px;
      height: 30px;
      p {
        font-size: 18px;
      }
    }

    .categoryNav {
      z-index: 11;
      position: absolute;
      height: 45px;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #80A1D4;
        z-index: 9;
      }
      & button{
        z-index: 30;
      }
      // 카테고리 ul

    }
    .headerIcons{
      position: absolute;
      right: 140px;
      top: 15px;
      z-index: 34;
    }
  }
  .depth-1 {
    white-space: nowrap;
    position: absolute;
    top: calc((-100%) - 50%);
    left: 0;

    & > li {
      display: flex;
      //justify-content: center;
      padding-left: 5px;
    }

    & > li:hover {
      background-color: #61dafb;
    }
  }
}



.headerNav {
  & > button {
    color: white;
  }

  .icon-nav-btn {
    min-width: 10px;
    width: fit-content;
    height: fit-content;

    & > svg {
      width: $icon-size-max;
      height: auto;
    }

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 45%;
      background: #fff;
      border-radius: 50%;
      right: 0;
      top: calc((100%) - (45%)) / 2;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        content: none;
      }
    }
  }

  .headerCheckListIcon {
    & > svg {
      width: 20px;
    }
  }

  // 우측 아이콘 래퍼
  .headerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $headerIcons-max;

    & > button {
      color: white;
    }
  }

  .headerLoginButton {
    background-color: white;


    .loginText {
      color: #80A1D4;
    }

    &:hover {
      background-color: black;

      .loginText {
        color: white;
      }
    }
  }

}

.categoryNav {
  display: flex;

  & button {
    color: white;
  }

  & > li {
    position: relative;
  }

  //리스트들 보여주는 부분
  & > li > ul {
    padding: 0;
    background-color: black;
    display: none;
  }

  & > li > button:hover {
    background-color: #61dafb;
  }

  & > li:hover > ul {
    display: block;
  }
}