@import "@styles/moduleTemplate/index.scss";

* {
  box-sizing: border-box;
  list-style-type: none;

  ul {
    padding: 0;

    li {

    }
  }
}

.currOrg {
  //background: linear-gradient(135deg, #ffffff, #cfddff);
  background: #ffffff;
  box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 25px;

  .content {
    padding: 20px;
    border-radius: 5px;

  }

  .artHeading {
    display: block;
    width: 100%;
    text-align: start;
    font-size: 32px;
    padding: 10px 10px 20px;
    color: #fff;
  }

}

.currOrgModified {
  .content {
    //background-color: #5578b7;
    //box-shadow: 0 0 10px 0.1px rgba(0,0,0,0.4);

    .textGroup {
      display: flex;
      margin-bottom: 10px;
      // >>
      .textCont {
        padding: 5px 10px;
        background: #5681c9;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        margin-right: 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bolder;

      }

      .userId {
        position: relative;

        &::after {
          position: absolute;
          content: '';
        }
      }

      .date {

      }

      .type {

      }

      .productId {

      }

      .productName {

      }
    }

    .textGroup:first-child {
      position: relative;
      padding-left: 40px;

      &::before {
        content: '';
        position: absolute;
        display: block;
        background: #80A1D4;
        border-radius: 3px;
        left: 0;
        top: 0;
        width: 29px;
        height: 100%;
      }
    }

    .inquiryText, .inquiryContentsWrapper {
      display: block;
      width: 100%;
      text-align: start;
      box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      padding: 5px 10px;
      color: #000000;
    }

    .inquiryText {
      margin-bottom: 10px;
      font-size: 24px;
    }

    .inquiryContentsWrapper {
      padding-top: 10px;
      font-size: 16px;
      padding-bottom: 15px;

      .inquiryContents {
        padding-bottom: 20px;
      }
      .btnImg {
        padding: 16px;
        span{
        }
        svg {
          padding-left: 0;
          padding-right: 0;
          font-size: 26px;
        }
      }
    }
  }

  .clickWrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;

    .btnReply {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}


.pageModified {
  .nav {
    ul {
      margin-bottom: 0;


    }
  }
}

@include mobile {
  .currOrg {
    padding: 25px;
    //background: #2e5686;
    .artHeading {
      display: block;
      width: 100%;
      font-size: 32px;
      font-weight: bold;
      color: #2a2a2a;
      padding-bottom: 10px;
    }
    .content {
      padding: 10px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.2);
      //box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
      .textGroup {

      }

    }
  }
  .clickWrapper {
    justify-content: space-between;

    .btnReply {

    }
  }

}


@include tablet {
  .currOrg {

  }
  .pageModified {
    .nav {
      ul {
        background: white;
      }
    }
  }
}

@include laptop {
  .currOrg {

  }
  .pageModified {
    .nav {
      ul {
        background: #ababab;
      }
    }
  }
}

@include desktop {
  .currOrg {
    width: 50%;
  }
  .pageModified {
    .nav {
      ul {
        background: #818181;
      }
    }
  }
}