@import "index";

.mobile-wrapper{
  &__title{
    font-size: $title-font-size-S;
    font-weight: bold;
    margin-top: 1rem;
  }
}

.template-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn{
    width: 70%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: $basic-font-color;
    font-weight: bold;
    font-size: $title-font-size-S;
    margin-bottom: 3rem;

  }
}

.pc-wrapper{
  max-width: 768px;// 임시로 지정한 max-width값
  margin: 0 auto; // 이거 넣어줘야 됨

  &__title{
    font-size: $title-font-size-S;
    font-weight: bold;
  }
}