@import "index";

.paper{
  height: 100%;
  &__input{
    width: 100%;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 4px;
    &-title{
    }
  }
  &__editor{
    width: 72%;
  }
  &__button-group{
  }
}
