.ItemPriceWrapper {
  display: flex;
  height: max-content;
  width: max-content;
  //background: #80A1D4;
  align-items: baseline;


  & > #number {
    font-size: 20px;
    margin-right: 0;
  }

  & > #unit {
    font-size: 12px;
    margin-left: 0;
  }

  & > p {
    color: black;
  }
}