.ItemBox {
  display: flex;
  width: 180px;
  height: 345.58px;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

.ItemClick {
  cursor: pointer;
}

.ImageBox {
  display: flex;
  justify-content: center;

  & > img {
    width: 168.75px;
    height: 167.63px;
    object-fit: cover;
  }
}

.BottomBox {
  display: flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > #Info {
    display: flex;
    flex-direction: row;
  }

  & > #AddOn {
    display: flex;
    flex-direction: row;
  }
}