@import 'index.scss';

// 헤더
.header {

}
/*
 * BEM 이란 : [블록]__[요소]--[변형자]
 * 변형자는 해당 블록이나 요소가 바뀔경우 분기점으로 만들어준다.
 * 케밥 케이스 접목 사용
 */
// 네비 자체를 감싸는 래퍼 [BEM]
.app-bar-nav {
  transition: 0.2s ease-in-out;
  background-color: $primary-color;
  padding: 0;
  position: sticky;
  display: block;
  width: 100%;
  z-index: 30;
  box-sizing: border-box;
  // ul or ol 요소 좌측 점 표시 제거
  * {
    list-style-type: none;
  }
  /* ------ 요소들 ------ */
  // 좌측 버튼 관련
  // 모바일 좌측 메뉴 버튼
  &__menu-icon-btn {
    transition: 0.3s ease-in-out;
    color: white;
    padding: 0;

    span {
      position: relative;

      svg {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  // 모바일 메뉴 버튼의 아이콘
  &__menu-icon {

  }

  // ToolBar 네비 내부 진열된 아이템들 감싸는 부모
  &__tool-bar {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
  }

  // 우측 좋아요, 찜, 장바구니 메뉴 요소이자 래퍼 navBarRightClsN
  // rightNavBarArea 가 원본
  &__branch-nav-right {
    justify-content: right;
    white-space: nowrap;
    margin-left: auto;
    /* 요소 */
    & > * {
      position: relative;

      &:after {
        position: absolute;
        display: block;
        content: '';
        right: 0;
        top: 50%;
        width: 1px;
        transform: translateY(-50%);
        border-radius: 1px;
        background-color: white;
      }

      &:last-child:after {
        width: 0;
      }
    }

    // 우측 좋아요 즐겨찾기 등등...영역 버튼 클래스명
    &__icon-btn {

    }

    // 아이콘들 원본 rightNavBarAreaIcon
    &__icons {

    }
  }

  // logo <span>
  &__logo {
    width: fit-content;
    cursor: pointer;
    color: $white-color;
    height: fit-content;
    font-size: 24px;
  }

  // 로그인 버튼
  &__login {
    color: gray;
    background-color: white;

    &:hover {
      background-color: white;
    }
  }

}
// 모바일 메뉴 : default 비활성화 : 안씀
.mobile-menu {
  display: none;
  // 아이콘 색상
  svg {
    //color: white;
  }
}

// 모바일 메뉴 감싸는 부모 [블록]
.drawer {
  display: block;
  /* 요소 */
}

// example 모바일 메뉴 컨테이너 [실질적인 블록 요소]
.drawer-wrapper {
  text-align: center;

  &__mobile-header {
    font-size: $title-s;
    height: 56px;
    line-height: 56px;
  }

  & .MuiDrawer-paper {
    box-sizing: border-box;
  }

}
@include media-breakpoint-up(xs){
  .header {
  }
  /* 블록 */
  // 네비 자체를 감싸는 래퍼 [Block]
  .app-bar-nav {
    min-height: 56px;
    max-height: 100%;
    display: flex;
    /* 요소 */
    // 메뉴 아이콘
    &__menu-icon {
    }
    // 로고
    &__logo {
      font-size: 16px;
    }
    // ToolBar 네비 내부 진열된 아이템들 감싸는 부모
    &__tool-bar {
      justify-content: space-between;

    }

    // 모바일 좌측 메뉴 버튼
    &__menu-icon-btn {
      margin-right: 4px;
      padding-left: 0;

      svg {
        font-size: 28px;
      }
    }
    // 우측 좋아요, 찜, 장바구니 메뉴
    &__branch-nav-right {
      min-width: 60px;
      max-width: 110px;
      & > * {
        &:after {
          height: 12px;
        }
        &:last-child:after {
        }
      }
      // 우측 좋아요 즐겨찾기 등등...영역 버튼 클래스명
      &__icon-btn {
        width: calc(110px / 3);
        padding-left: 4px;
        padding-right: 4px;
      }
      // 아이콘들 원본 rightNavBarAreaIcon
      &__icons {

      }
    }
    // 로그인 영역
    &__login {
      margin-left: 4px;
      box-sizing: border-box;
      padding: 2px 0;
      font-size: 16px;
    }
  }
  /* 드로워 블록 영역 */
  .drawer {
  }
  .drawer-wrapper {
  }
}

@include media-breakpoint-up(sm){
  // 네비 자체를 감싸는 래퍼 [Block]
  .app-bar-nav {
    // 모바일 좌측 메뉴 버튼
    &__menu-icon-btn {
      margin-right: 16px;
      padding: 0;

      span {
        position: relative;

        svg {
          font-size: 36px;
        }
      }
    }
    height: 64px;
    padding: 0;

    /* 요소 */

    // ToolBar 네비 내부 진열된 아이템들 감싸는 부모
    &__tool-bar {
    }
    // 우측 좋아요, 찜, 장바구니 메뉴 요소이자 래퍼 navBarRightClsN
    &__branch-nav-right {
      min-width: 110px;
      max-width: 140px;

      & > * {
        &:after {
          height: 12px;
        }

        &:last-child:after {
        }
      }
    }
    // 로그인 영역
    &__login {
      margin-left: 8px;
      padding: 2px 0;
      font-size: 16px;
    }
  }
}
// 768px
@include media-breakpoint-up(md){
  // 블록
  .app-bar-nav {
    // 모바일 좌측 메뉴 버튼
    &__menu-icon-btn {
      margin-right: 16px;
      padding: 0;

      span {
        position: relative;

        svg {
          font-size: 36px;
        }
      }
    }
    height: 64px;
    // ToolBar 네비 내부 진열된 아이템들 감싸는 부모
    &__tool-bar {
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    // 우측 북마크 좋아요 장바구니
    &__branch-nav-right {
      min-width: 110px;
      max-width: 140px;

      & > * {
        &:after {
          height: 12px;
        }

        &:last-child:after {
        }
      }
    }
    // 로그인 영역
    &__login {
      margin-left: 8px;
      padding: 2px 0;
      font-size: 16px;
    }
  }
}
// 992px
@include media-breakpoint-up(lg){
  .app-bar-nav {
    display: flex;
    height: 64px;
    // ToolBar 네비 내부 진열된 아이템들 감싸는 부모
    &__tool-bar {
      /* min-width: 768px ~ max-width: 1080px */

      width: max(14.25%, 992px);
      margin: 0 auto;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    // 로고
    &__logo {
    }

    // 우측 북마크 좋아요 장바구니
    &__branch-nav-right {
      min-width: 110px;
      max-width: 140px;
      box-sizing: border-box;
      padding-right: 12px;
      width: fit-content;
      & > * {
        &:after {
          height: 12px;
        }

        &:last-child:after {
        }
      }
    }

    // 로그인 영역
    &__login {
      margin-left: 8px;
      padding: 2px 0;
      font-size: 16px;
    }
  }
}

@include media-breakpoint-up(xxl){
  .app-bar-nav {
    height: 64px;
    // ToolBar 네비 내부 진열된 아이템들 감싸는 부모
    &__tool-bar {
      width: 1240px;
      margin: 0 auto;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    // 우측 북마크 좋아요 장바구니
    &__branch-nav-right {
      min-width: 110px;
      max-width: 140px;

      & > * {
        &:after {
          height: 12px;
        }

        &:last-child:after {
        }
      }
    }

    // 로그인 영역
    &__login {
      margin-left: 8px;
      padding: 2px 12px;
      font-size: 16px;
    }
  }
}
