@import 'index.scss';

header {
  position: fixed;
  display: block;
  width: 100%;
  background: $primary-color;
  z-index: 30;
}

.navWrapper {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;

  * {
    list-style-type: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.mobileMenu {
  display: none;

  svg {
    color: $white-color;
  }
}

.logo {
  cursor: pointer;
  color: $white-color;
  height: fit-content;
  width: fit-content;
  font-size: 24px;
}

.test {
  height: 3000px;
}

@include desktop {

  .navWrapper {
    min-width: 860px;
    max-width: 760px;
    width: 90%;
  }

  .navContainer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container {
    height: 60px;

    .login {
      display: flex;
      min-width: 80px;
      background: $white-color;

      .loginTitle {
        color: $primary-color;
        font-size: 16px;
      }
    }
  }
}

@include tablet {

  .navWrapper {
    max-width: 768px;
    width: 90%;
  }
  .navContainer {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container {
    height: 60px;

    .login {
      display: none;
    }

    .desktopCategory {
      display: none;
    }
  }

  .mobileMenu {
    display: flex;
  }
  .mobileCategory {
    display: none;
  }
  .isCheck {
    display: flex;
  }
}

@include mobile {
  .navContainer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container {
    height: 50px;

    .login {
      display: none;
    }

    .desktopCategory {
      display: none;
    }
  }
  .mobileMenu {
    display: flex;
  }
  .mobileCategory {
    display: none;
  }
  .isCheck {
    display: flex;
  }
}