@import "index";

.agreements-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__divider{
    width: 75%;
  }
  &__checkbox-wrapper{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    &__checkbox{
      width: 110%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}