/*
  _ : 변수 저장 파일 '_' 언더바로 사직하는 파일은 파일 단위로 분리되어 컴파일 되지 않는다.
  $: 변수 선언
*/

// 디스플레이별 브레이크 포인트

// 데스크탑
$breakpoint-desktop: 1024px;
// 테블릿
$breakpoint-tablet: 758px;
// 모바일
$breakpoint-mobile: 335px;

// 색상
$primary-color: #80A1D4;
