@import "./index";

.recommend-wrapper{
  &__title{
    font-size: 32px;
    color: #404040;
    font-family: 'Pretendard Variable', serif;
    font-weight: 500;
  }

  &__category-btn{
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  &__category-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}