@import "src/components/layout/header/styles/index.scss";

.menu{
  display: flex;
}

@include desktop{
}
@include tablet{
  .menu{
    display: none;
  }
}
@include mobile{
  .menu{
    display: none;
  }
}