@import "src/components/layout/header/styles/index.scss";

@include desktop{
  .menu{
    display: flex;
    .iconBtn{
      min-width: 30px;
      padding: 4px;
      height: fit-content;
    }
    .icon{
      color: $white-color;
      font-size:16px;
      height: fit-content;
    }
  }
}
@include tablet{
  .menu{
    display: none;
  }
}
@include mobile{
  .menu{
    display: none;
  }
}