@import 'src/styles/moduleTemplate/index';

.posAbs {
  display: block;
  position: absolute;
}

.posRlt {
  position: relative;
}

// 네비 링크 리스트 ul
[class*=listMenu] {
  display: flex;
  list-style-type: none;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;

  .navBarWrap {
    display: none;
  }

  li:hover {
    .navBarWrap {
      display: block;
    }
  }

  // li > li...~div
}

// li > a
.linkBox {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

// a > span
.linkText {
  color: $color-text-title-context;
}


// depth ul
.depthUl {
  top: -10px;
  padding: 5px;
  background: $color-fill-hover-nav-deep;
  white-space: nowrap;
  border-top: 4px solid $color-fill-shallow;

  li {
    padding: 3px;
    margin-bottom: 5px;
    // a
    .depthLinkBox {
      display: block;
    }

    // span
    .depthContext {
      position: relative;
      display: block;
      padding: 5px 5px;
      border-radius: 5px;

      color: $color-text-title-context;
    }

    &:hover .depthContext {
      background-color: #646464;
    }
  }
}

// 데스크탑 1200px 이상
@include desktop {
  // 메뉴바 링크태그 구간 li
  .listMenu {
    padding-left: 40px;
  }
  // 메뉴바 링크태그 구간 li a
  .linkBox {
    padding-left: 15px;
    padding-right: 15px;
  }
  // 메뉴바 링크태그 구간 li a span
  .linkText {
    font-size: $font-size-context-l;
    font-weight: 540;
  }
}

// 랩탑 1199px ~ 1024px
@include laptop {
  // 메뉴바 링크태그 구간 li
  .listMenu {
    padding-left: 25px;
  }
  // 메뉴바 링크태그 구간 li a
  .linkBox {
    padding-left: 15px;
    padding-right: 15px;
  }
  // 메뉴바 링크태그 구간 li a span
  .linkText {
    font-size: $font-size-context-l;
    font-weight: 540;
  }
}

// 테블릿 1023px ~ 768px
@include tablet {
  // 메뉴바 링크태그 구간 li
  .listMenu {
    padding-left: 15px;
  }
  // 메뉴바 링크태그 구간 li a
  .linkBox {
    padding-left: 10px;
    padding-right: 10px;
  }
  // 메뉴바 링크태그 구간 li a span
  .linkText {
    font-size: $font-size-context-m;
    font-weight: 540;
  }
}

// 모바일 767px ~ 480px
@include mobile {
  // 메뉴바 링크태그 구간 ul
  [class*=listMenu][class$=false] {
    display: none;

    .navBarWrap {
      display: block;
      height: 0;
      overflow: hidden;
      transition: ease-in-out 0.2s;
      // depth ul
      .depthUl {
        display: block;
        li {
          // a
          .depthLinkBox {
          }

          // span
          .depthContext {
            color: $color-text-title-context;
          }

          &:hover .depthContext {
          }
        }
      }
    }
  }
  [class*=listMenu][class$=true] {
    position: absolute;
    display: block;
    left: 0;
    top: 50px;
    width: 80%;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px;
    z-index: 5;
    padding-top: 30px;

    & li {
      display: block;
    }

    .navBarWrap {
      position: relative;
      transition: ease-in-out 0.2s;
    }

    // depth ul
    .depthUl {
      height: auto;
      overflow: inherit;
      top: 0;
      padding: 3px;
      background-color: #ffffff;
      box-sizing: border-box;
      li {
        // a
        .depthLinkBox {
          display: block;
          width: fit-content;
        }

        // span
        .depthContext {
          color: $color-text-hint;
          font-size: $font-size-context-xl;
          border-radius: 5px;
          padding: 5px 20px 5px 10px;
        }

        &:hover{
          .depthContext{
            background-color: $color-fill-shallow-middle;
            color: #ffffff;
          }
        }
      }
    }
  }


  // 메뉴바 링크태그 구간 li a
  .linkBox {
    display: block;
  }
  // 메뉴바 링크태그 구간 li a span
  .linkText {
    font-size: $font-size-heading-l;
    font-weight: 540;
    color: $color-fill-shallow;
    text-align: left;
    display: block;
    padding: 10px 0;
  }


}
