@import "index";


// mobile version scss
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__id, &__pwd, &__email {
    width: 70%;
    margin: 8px;
  }

  &__email-authentication-btn {
    background-color: $primary-color;
    color: $basic-font-color;
    font-weight: bold;
    width: 70%;
    height: 50px;
    font-size: $title-font-size-S;
  }

  &__divider {
    width: 75%;
    margin: 3%;
  }

}

.authentication-wrapper {
  width: 70%;

  &__name {
    margin: 3px;
    width: 70%;
  }

  &__btn {
    background-color: $primary-color;
    color: $basic-font-color;
    font-weight: bold;
    width: 22%;
    height: 2.5rem;
    margin: 3px;
  }
}