@import "./index";

.home{
  margin-top: 65px;
  margin-bottom: 26px;
}

.home-product{
  margin: 48px 0 0 0;
}

/*나중에 tablet로 바꿔야됨 아직 scss 머지 x*/
@include laptop{
  .home{
    margin-top: 65px;
    margin-bottom: 26px;
  }

  .home-product{
    margin: 40px 0 0 0;
  }
}

/*나중에 mobile로 바꿔야됨 아직 scss 머지 x*/
@include tablet{
  .home{
    margin-top: 65px;
    margin-bottom: 26px;
  }

  .home-product{
    margin: 12px 0 0 0;
  }
}