@import 'src/components/layout/header/styles/index.scss';

@include desktop{
  .category{
    display: flex;
  }

  .parentCategory{
    cursor: pointer;
    padding: 4px;
    span{
      font-size: 16px;
      color: $white-color;
    }
  }
}

@include mobile{
  .category{
    display: none;
  }
}

@include tablet{
  .category{
    display: none;
  }
}