@import "index";

// root
.notices-t {
  padding: 16px;
}






// 테이블-root
.table-root{
  margin: 16px 0;
  // 테이블
  &__table{

  }
  // 페이지네이션
  &__pagination{
  }
}
// Post 등록 버튼
.post-button{
  width: fit-content;
}

// 모달
.modal{
  &__button{
    width: fit-content;
    &-cancel{
      background-color: white;
      border-color: white;
      color : $color-text-darkblue;
      &:hover{
        background-color: rgba(255, 255, 255, 0.5);
        color: white
      }
    }
    &-save{

    }
    &-delete{
      background-color: $background-warnning;
      &:hover{
        background-color: $background-warnning-hover;
        color: white;
      }
    }
    &-post{

    }
  }
}

.popover{
  padding: 8px 16px;
  &__button{
    &-edit{
      margin-right: 8px;
    }
    &-cancel{

    }
  }
}

@include media-breakpoint-up(xxs){

}