@import "index";

.social-login-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title{
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: $title-font-size-S;
    }

   &__icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   }

    &__kakao-icon,&__naver-icon,&__google-icon{
        border-radius: 30px;
        width: 60px;
        height: 60px;
       
    }
    
}

// mobile social login
.mobile-social-login-logo{
    margin-top: 2rem;
    width: 400px;
   
    display: flex;
    align-items: center;
    justify-content: center;

}
.mobile-social-login-wrapper{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title{
       
        margin-top: 3rem;
    
    }
    &__text{
        font-size: 12px;
    }

   &__social-wrapper{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   &__button{
    width: 250px;
    padding: 0.6em 1em;
    border-radius: 0.25em;
    font-size: 0.8rem;
    margin-top: 0.7em;
    display: flex;
    align-items: center;
    font-weight: 400;
    box-shadow: var(--shadow-1);
    background-color: #03C75A;
    color: white;
    display: flex;
    align-items: center;
    
 
   }
   &__naver-login{
    margin-right: 3.8rem;
    margin-left: -4.5rem;
    width: 30px;
    height: 30px;
}
   // 임시 테스트
    &__kakao-login,&__google-login{

       
        width: 250px;
        height: 40px;
        margin: auto;
       
    }
  
    
}


.btn{
    background: rgba(0,0,0,0);
    box-shadow: none;
    padding: 0 0;
   
    border: none;
    outline: none;
    &:hover, &:focus{
        background: none;
        box-shadow: none;
    }

}