@import "./index";

.paginationWrapper {
  justify-content: center;
  flex-direction: row;
  .nav {
    ul {
      display: flex;

    }
  }
  // 페이지 정보
  .currPage {
    display: flex;
    align-items: center;

    .currText {
      display: block;
      height: fit-content;
    }
  }
}

// ButtonAtom
.nanPaginationBtn{
  .btnColor{
    background: red;
  }
}

@include mobile {

}

@include tablet {

}

@include laptop {

}

@include desktop {

}
