// _ : 변수 저장 파일 '_' 언더바로 사직하는 파일은 파일 단위로 분리되어 컴파일 되지 않는다.
// $: 변수 선언

// 디스플레이별 브레이크 포인트

// 모바일(수직 minimum)
$breakpoint-mobile-mini: 320px;
// 모바일(수직)
$breakpoint-mobile: 480px;
// 모바일(수평), 테블릿(수직)
$breakpoint-tablet: 768px;
// 테블릿(수평), 노트북
$breakpoint-laptop: 1024px;
// 테블릿(수평), 노트북 추가
$breakpoint-desktop: 1280px;

// 색상
$primary-color: #80A1D4;
$secondary-color: #b0c4f3;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color: #D9D9D9;
$floaral-color: #F7F4EA;

// 아이콘 사이즈
$icon-size-max: 20px;
$headerIcons-max: 104px;

// 헤더 폰트사이즈
$font-h-size-S: 1rem;
$font-h-size-M: 2rem;
$font-h-size-L: 3rem;

// 헤더 높이
$header-h-desk: 50px;
$header-h-tablet: 45px;
$header-h-mob: 32px;


// 네비게이션 링크 호버 색상
$nav-li-hover: #61dafb;
$nav-li-depth-hover: #707070;

:root {
  --breakpoint-desktop: #{$breakpoint-desktop};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-mobile: #{$breakpoint-mobile};

  --primary-color: #{$primary-color};
  --black-color: #{$black-color};
  --white-color: #{$white-color};
  --gray-color: #{$gray-color};
  --floaral-color: #{$floaral-color};

  --icon-size-max: #{$icon-size-max};
  --headerIcons-max: #{$headerIcons-max};


  --header-h-desk: #{$header-h-desk};
  --header-h-tablet: #{$header-h-tablet};
  --header-h-mob: #{$header-h-mob};

  --nav-li-hover: #{$nav-li-hover};
  --nav-li-depth-hover: #{$nav-li-depth-hover};
}