// _ : 변수 저장 파일 '_' 언더바로 사직하는 파일은 파일 단위로 분리되어 컴파일 되지 않는다.
// $: 변수 선언

// 디스플레이별 브레이크 포인트

// 모바일(수직 minimum)
$breakpoint-mobile-mini: 320px;
// 모바일(수직)
$breakpoint-mobile: 480px;
// 모바일(수평), 테블릿(수직)
$breakpoint-tablet: 768px;
// 테블릿(수평), 노트북
$breakpoint-laptop: 1024px;
// 테블릿(수평), 노트북 추가
$breakpoint-desktop: 1280px;

// 헤더 컨텐츠 너비
$header-width-mobile: 280px;

// 미디어쿼리 변수
$grid-breakpoints: (
        // minimum portrait mobile devices
        xs: 360px,
        // default portrait mobile devices
        sm: 480px,
        // landscape mobile and tablet devices
        md: 768px,
        // landscape tablet and small laptop
        lg: 992px,
        // small desk screen
        xl: 1200px,
        // FullHD screen for 16:9
        xxl: 1400px
);

// 색상
$primary-color: #80A1D4;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color: #D9D9D9;
$floaral-color: #F7F4EA;

// 아이콘 사이즈
$icon-size-max: 20px;
$headerIcons-max: 104px;

// 폰트사이즈
$basic-font-color: #fff;
$title-font-size-L: 32px;
$title-font-size-M: 28px;
$title-font-size-S: 24px;

// 헤더 높이
$header-h-desk: 50px;
$header-h-tablet: 45px;
$header-h-mob: 32px;

// 헤더 컨텐츠 폰트 크기
$header-body-font-L: 18px;
$header-body-font-M: 16px;
$header-body-font-S: 14px;

// 헤더 폰트사이즈
$title-s: 36px;
$title-m: 40px;
$title-l: 54px;

// 네비게이션 링크 호버 색상
$nav-li-hover: #61dafb;
$nav-li-depth-hover: #707070;

// 소셜로그인 색상
$naver-background : #03C75A;
$kakao-background : #FEE500;
$google-background: #F2F2F2;

:root {
  --breakpoint-desktop: #{$breakpoint-desktop};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-mobile: #{$breakpoint-mobile};

  --primary-color: #{$primary-color};
  --black-color: #{$black-color};
  --white-color: #{$white-color};
  --gray-color: #{$gray-color};
  --floaral-color: #{$floaral-color};

  --icon-size-max: #{$icon-size-max};
  --headerIcons-max: #{$headerIcons-max};

  --basic-font-color: #{$basic-font-color};
  --title-font-size-L: #{$title-font-size-L};
  --title-font-size-M: #{$title-font-size-M};
  --title-font-size-S: #{$title-font-size-S};

  --header-h-desk: #{$header-h-desk};
  --header-h-tablet: #{$header-h-tablet};
  --header-h-mob: #{$header-h-mob};

  --header-body-font-L: #{$header-body-font-L};
  --header-body-font-M: #{$header-body-font-M};
  --header-body-font-S: #{$header-body-font-S};

  --nav-li-hover: #{$nav-li-hover};
  --nav-li-depth-hover: #{$nav-li-depth-hover};

  --background-color-naver : #{$naver-background};
  --background-color-kakao : #{$kakao-background};
  --background-color-google : #{$google-background};
}