/*
* _ : 변수 저장 파일 '_' 언더바로 사직하는 파일은 파일 단위로 분리되어 컴파일 되지 않는다.
* $: 변수 선언
*/

/*
디스플레이별 브레이크 포인트 - 구버전, $grid-breakpoints 규격으로 통일
*/

// 모바일(수직 minimum)
$breakpoint-mobile-mini: 320px;
// 모바일(수직)
$breakpoint-mobile: 480px;
// 모바일(수평), 테블릿(수직)
$breakpoint-tablet: 768px;
// 테블릿(수평), 노트북
$breakpoint-laptop: 1024px;
// 테블릿(수평), 노트북 추가
$breakpoint-desktop: 1280px;

// 헤더 컨텐츠 너비
$header-width-mobile: 280px;

// 미디어쿼리 변수
$grid-breakpoints: (
        xxs: 300px, /* for minimum-phone */
        xs: 360px, /* minimum portrait mobile devices */
        sm: 480px, /* default portrait mobile devices */
        md: 768px, /* landscape mobile and tablet devices */
        lg: 980px, /* landscape tablet and small laptop */
        xl: 1080px, /* small desk screen laptop test 1080 1024 */
        xxl: 1400px /* FullHD screen for 16:9 */
);
// 미디어쿼리 변수 콘텐츠 크기
$grid-content-size: (
        xxs: 100%, /* for minimum-phone, window-size: 300px */
        xs: 100%, /* minimum portrait mobile devices, window-size: 360px */
        sm: 100%, /* default portrait mobile devices, window-size: 480px */
        md: 100%, /* landscape mobile and tablet devices, window-size: 768px */
        lg: 100%, /* landscape tablet and small laptop, window-size: 980px */
        xl: 980px, /* small desk screen, window-size: 1024px */
        xxl: 1200px /* FullHD screen for 16:9, window-size: 1400px */
);

//$content-width

// 폰트 규격 (root 16px 기준)
$font-size-map: (
  // 34px
        headline1: 2.125rem,
  // 24px
        headline2: 1.5rem,
        headline3: 1.3rem,
  // 16px
        subtitle1: 1rem,
  // 14px
        subtitle2: 0.875rem,
  // 16px(default)
        body1: 1rem,
  // 14px
        body2: 0.875rem,
  // 12px
        caption: 0.75rem,
  // 10px
        overline: 0.625rem,
  // for-icon
        backgroundicon: 1.8rem
);

$font-weight-map: (
        thin: 100,
        extralight: 200,
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800,
        black: 900
);

// 폰트 규격 (root 16px 기준)
$font-size-map: (
  // 34px
  headline1: 2.125rem,
  // 24px
  headline2: 1.5rem,
  // 16px
  subtitle1: 1rem,
  // 14px
  subtitle2: 0.875rem,
  // 16px(default)
  body1: 1rem,
  // 14px
  body2: 0.875rem,
  // 12px
        caption: 0.75rem,
  // 10px
        overline: 0.625rem
);

$font-weight-map: (
        thin: 100,
        extralight: 200,
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800,
        black: 900
);

// 색상
$primary-color: #80A1D4;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color: #D9D9D9;
$floaral-color: #F7F4EA;
$black-gray-color: #7A7A7A;

// --- PAGE FAQ ---

// BG 뒷배경
$background-white: #FFFFFF;
$background-ghostwhite: #E8E8E8;
$background-skyblue: #b5d1ff;
$background-cornflowerblue: #5981BE;
$background-dimgray: #585858;
$background-darkslategray: #3F4756;
$background-darkgray: #2F2F2F;

// FC 글꼴 색상
$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-dimgray: #585858;
$color-text-cornflowerblue: #5981BE;
$color-text-darkblue: #1855B4;

// --- PAGE FAQ ---

// BG 뒷배경
$background-white: #FFFFFF;
$background-ghostwhite: #fafafa;
$background-skyblue: #b5d1ff;
$background-cornflowerblue: #5981BE;
$background-navy: #1A2D49;
$background-dimgray: #585858;
$background-darkslategray: #3F4756;
$background-darkgray: #2F2F2F;
$background-darkgreen: #3BAD62;
$background-plump: #C68DFF;
$background-royalblue: #7CA8FC;
$background-orange: #FF9900;



// 글꼴 색상
$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-dimgray: #505050;
$color-text-cornflowerblue: #5981BE;
$color-text-darkblue: #405A82;
$color-text-darkgreen: #3BAD62;
$color-text-plump: #C68DFF;
$color-text-royalblue: #7CA8FC;
$color-text-orange: #FF9900;

// 아이콘 사이즈
$icon-size-max: 20px;
$headerIcons-max: 104px;

// 폰트사이즈
$basic-font-color: #fff;
$title-font-size-L: 32px;
$title-font-size-M: 28px;
$title-font-size-S: 24px;

// 헤더 높이
$header-h-desk: 50px;
$header-h-tablet: 45px;
$header-h-mob: 32px;

// 헤더 컨텐츠 폰트 크기
$header-body-font-L: 18px;
$header-body-font-M: 16px;
$header-body-font-S: 14px;

// 헤더 폰트사이즈
$title-s: 36px;
$title-m: 40px;
$title-l: 54px;

// 네비게이션 링크 호버 색상
$nav-li-hover: #61dafb;
$nav-li-depth-hover: #707070;

// 소셜로그인 색상
$naver-background : #03C75A;
$kakao-background : #FEE500;
$google-background: #F2F2F2;

:root {
  --breakpoint-desktop: #{$breakpoint-desktop};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-mobile: #{$breakpoint-mobile};

  --primary-color: #{$primary-color};
  --black-color: #{$black-color};
  --white-color: #{$white-color};
  --gray-color: #{$gray-color};
  --floaral-color: #{$floaral-color};

  --icon-size-max: #{$icon-size-max};
  --headerIcons-max: #{$headerIcons-max};

  --basic-font-color: #{$basic-font-color};
  --title-font-size-L: #{$title-font-size-L};
  --title-font-size-M: #{$title-font-size-M};
  --title-font-size-S: #{$title-font-size-S};

  --header-h-desk: #{$header-h-desk};
  --header-h-tablet: #{$header-h-tablet};
  --header-h-mob: #{$header-h-mob};

  --header-body-font-L: #{$header-body-font-L};
  --header-body-font-M: #{$header-body-font-M};
  --header-body-font-S: #{$header-body-font-S};

  --nav-li-hover: #{$nav-li-hover};
  --nav-li-depth-hover: #{$nav-li-depth-hover};

  --background-color-naver : #{$naver-background};
  --background-color-kakao : #{$kakao-background};
  --background-color-google : #{$google-background};
}