@import "index.scss";

// cs 색션
html{
}
.section-cs{

}

.article{
  &__headline-01{
    @include font-size(headline1);
    @include font-weight(semibold);
  }
  &__headline-02{
    // @include font-size(headline2);
  }
  &__subtitle-01{
    @include font-size(headline2);
    @include font-weight(semibold);
  }
  &__subtitle-02{
    @include font-size(subtitle2);
  }

}
// sub-nav 구간
.sub-nav{
  padding-top: 8px;
  //border-bottom: 0.4px solid $background-ghostwhite;
  /** Mui tab-wrapper 접근 */
  & > div > div{
    gap: 12px;
  }
  &__tab{
    /* 컨텐츠 영역 */
    @include font-size(subtitle1);
    @include font-weight(medium);
    padding: 8px 0 8px;
    color: $color-text-dimgray;
    &:hover{
      @include font-weight(semibold);
      color: $color-text-darkblue;
    }
  }
  &__tab-active{
    @include font-weight(semibold);
    color: $color-text-darkblue;
  }
}

// section-content : panel
.panel{

}


// 모바일 small
@include media-breakpoint-up(xs) {
  .section-cs{
    padding-top: 28px;
  }

  .article{
    padding: 0 20px;
    &__headline-01{

    }
    &__headline-02{

    }
    &__subtitle-01{

    }
    &__subtitle-02{

    }

  }

  // sub-nav 구간
  .sub-nav{
    padding: 0 20px;
    /** Mui tab-wrapper 접근 */
    & > div > div{

    }
    &__tab{
      /* 컨텐츠 영역 */


    }
    &__tab-active{

    }
  }

  // section-content : panel
  .panel{
    padding-top: 8px;
  }
}
// 모바일 default 진입
@include media-breakpoint-up(sm) {
  .section-cs{
    padding-top: 28px;
  }

  .article{
    &__headline-01{

    }
    &__headline-02{

    }
    &__subtitle-01{

    }
    &__subtitle-02{

    }

  }
}
// 태블릿 진입
@include media-breakpoint-up(md) {
  .section-cs{

  }

  .article{
    &__headline-01{

    }
    &__headline-02{

    }
    &__subtitle-01{

    }
    &__subtitle-02{

    }

  }
}
// 랩탑
@include media-breakpoint-up(lg) {
  .section-cs{

  }

  .article{
    &__headline-01{

    }
    &__headline-02{

    }
    &__subtitle-01{

    }
    &__subtitle-02{

    }

  }
}
// 데스크탑
@include media-breakpoint-up(xl) {
  .section-cs{

  }

  .article{
    &__headline-01{

    }
    &__headline-02{

    }
    &__subtitle-01{

    }
    &__subtitle-02{

    }

  }
}