@import "index";

.template{
  &__headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__heading{
      text-align: center;
    }
    &__subtitle{
      text-align: center;
    }
  }
}