@import "./index";

.popular-wrapper {
  padding: 48px 24px 0 24px;

  &__title {
    font-size: 32px;
    color: #404040;
    font-family: 'Pretendard Variable', serif;
    font-weight: 500;
  }

  &__items{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(1, 1fr); // Default for small screens (1 card per row)

    @include media-breakpoint-up(xs) {
      grid-template-columns: repeat(2, 1fr); // 2 cards per row for extra small screens
    }

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, 1fr); // 3 cards per row for mobile screens
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr); // 4 cards per row for tablets
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(5, 1fr); // 5 cards per row for laptops
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(6, 1fr); // 6 cards per row for desktops
    }

    @include media-breakpoint-up(xxl) {
      grid-template-columns: repeat(6, 1fr); // Max 6 cards per row for large screens
    }
  }

  &__card{
    width: 100%;
    height: auto;
    min-height: 275px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__card-media{
    padding-bottom: 100%;
    height: 0;
    background-size: cover;
  }

  &__card-content{
    padding: 4px;

    &:last-child{
      padding: 4px;
    }
  }

  &__tag{
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    background: $black-gray-color;
    font-size: 10px;
    font-family: 'Pretendard Variable', serif;
    padding: 1px 0;
    font-weight: 400;
    color: $white-color;
    margin: 0 4px 4px 0;
  }

  &__card-title{
    font-size: 14px;
    font-family: 'Pretendard Variable', serif;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__card-info{
    margin-top: 4px;
    font-size: 10px;
    font-family: 'Pretendard Variable', serif;
    font-weight: 200;
  }

  &__popular-review{
    margin-top: auto;
  }

  &__card-price{
    margin-top: 12px;
    font-size: 12px;
    font-family: 'Pretendard Variable', serif;
    font-weight: 400;
  }
}

@include media-breakpoint-up(0) {
  .popular-wrapper {
    padding: 12px 16px 0 16px;
  }
}

// 360px ~ mini-mobile
@include media-breakpoint-up(xs) {
  .popular-wrapper {
    padding: 12px 16px 0 16px;
  }
}

// 480px ~ mobile
@include media-breakpoint-up(sm) {
  .popular-wrapper {
    padding: 12px 16px 0 16px;
  }
}

// 768px ~ tablet
@include media-breakpoint-up(md) {
  .popular-wrapper {
    padding: 40px 24px 0 24px;
  }
}

// 980px ~ laptop
@include media-breakpoint-up(lg) {
  .popular-wrapper {
    padding: 48px 24px 0 24px;
  }
}

// 1024 ~ pc
@include media-breakpoint-up(xl) {
  .popular-wrapper{
    padding: 48px 24px 0 24px;
  }
}

// 1400px
@include media-breakpoint-up(xxl) {
  .popular-wrapper{
    padding: 48px 24px 0 24px;
  }
}