.tags{
  display: flex;
  flex-wrap: wrap;
  width: 344px;
  height: 30px;
  .tag {
    width: fit-content;
    height: 14px;
    border-radius: 23px;
    background: #80A1D4;
    color: #ffffff;
    font-size: 12px;
    margin: auto 5px auto 0;
    padding: 1px 4px;
    text-align: center;
  }
}